<div class="d-flex" *ngIf="dice$ | async as dice">
  <div class="m-1" *ngFor="let aDice of dice; index as i;">
    <app-single-dice [dice]="aDice" (click)="toggleDiceAtIndex(i)"></app-single-dice>
  </div>

  <div class="m-1">
    <button (click)="throw(); $event.preventDefault();" class="btn btn-primary" style="height: 50px; width: 100px;" [disabled]="(numberOfThrowsLeft$ | async) === 0">
      <div class=" d-flex h-100 w-100">
        <div class="justify-content-center align-self-center mx-auto ">
          Kasta
        </div>
      </div>
    </button>
  </div>

  <div>
    <span *ngFor='let in of counter(numberOfThrowsLeft$ | async) ;let i = index' class="p-1">
      <i class="fas fa-circle"></i>
    </span>
  </div>
</div>